@charset "utf-8";
/* CSS Document */

input
{
	width:50%;
	padding:10px;
	font-family:微軟正黑體;
	border-radius:10px;
	outline:none;
	margin:10px;
	font-size:1.5rem
}

#titleBar
{
	width:100%;
	height:40px;
	line-height:35px;
	padding:5px 20px;
	background-color:#06F;
}

#container
{
	width:100%;
	margin:1%;
}

@media screen and (max-width:950px)
{
	#left_container
	{
		width:100%;
	}

	#right_container
	{
		width:100%;
	}
	
	#newOption
	{
		display:block;
		margin-top:20px;
		width:50%;
		font-size:2em;
		border:5px dashed #33F;
		background-color:#FFF;
		outline:none;
		cursor:pointer;
	}
	
	#start
	{
		margin-top:20px;
		width:50%;
		font-size:2em;
		border:5px dashed #F00;
		background-color:#FFF;
		outline:none;
		cursor:pointer;
	}
}

@media screen and (min-width:951px)
{
	#left_container
	{
		width:49%;
		display:inline-block;
		float:left;
	}

	#right_container
	{
		width:49%;
		display:inline-block;
	}
	
	#newOption
	{
		margin-top:20px;
		width:20%;
		font-size:2em;
		border:5px dashed #33F;
		background-color:#FFF;
		outline:none;
		cursor:pointer;
		margin-right:5%;
	}
	
	#start
	{
		margin-left:5%;
		margin-top:20px;
		width:20%;
		font-size:2em;
		border:5px dashed #F00;
		background-color:#FFF;
		outline:none;
		cursor:pointer;
	}
}

#title
{
	text-align:center;
	display:inline-block;
	width:100px;
	font-size:1.2em;
	color:#FFF;
}

#icon
{
	vertical-align:middle;
}

.input1
{
	border:3px solid #a2baab;
}

.input2
{
	border:3px solid #b5d463;
}

.input3
{
	border:3px solid #c39663;
}

.input4
{
	border:3px solid #38bc11;
}

.input5
{
	border:3px solid #957e11;
}

.input6
{
	border:3px solid #c2955c;
}

.input7
{
	border:3px solid #8e88ee;
}

.input8
{
	border:3px solid #118fee;
}

.input9
{
	border:3px solid #6d99ee;
}

.input10
{
	border:3px solid #a25b9a;
}

.input11
{
	border:3px solid #f57f9a;
}

.input12
{
	border:3px solid #08c09a;
}

.input13
{
	border:3px solid #bdc54f;
}

.input14
{
	border:3px solid #f0b901;
}

.input15
{
	border:3px solid #b1e201;
}

.input16
{
	border:3px solid #a6cbd2;
}

.input17
{
	border:3px solid #14d2d2;
}

.input18
{
	border:3px solid #d984d2;
}

.input19
{
	border:3px solid #ca8032;
}

.input20
{
	border:3px solid #7aabab;
}


#newOption:hover
{
	color:#FFF;
	background-color:#33F;
}

#start:hover
{
	color:#FFF;
	background-color:#F00;
}

#answer
{
	font-size:2em;
	font-weight:bold;
	color:#666;
}