@import '_reset.scss';
@import '_variable.scss';

body {
  font-size: $fontSize;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 1.6rem;
}

.font
{
  font-family: 'cwTeXHei', serif, 'arial';
}